
<!DOCTYPE html>
<html>
<head>
  <title>Margaret Morris | Software Engineer</title>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <script src="jquery-2.0.3.min.js"></script>
  <script src="jquery.scrollTo-1.4.3.1-min.js" type="text/javascript"></script>
  <script src="jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>

</head>
<body>
  <!-- Navigation -->
  <nav class="cl-effect-18">
    <a href="#home">HOME</a>
    <a href="#portfolio">PORTFOLIO</a>
    <a href="#about">ABOUT ME</a>
    <a href="#contact">CONTACT</a>
    <a href="#lolcommits">LOLCOMMITS</a>
  </nav>

  <!-- Name -->
  <div id="home">
    <h3 id="header_1">HI, I'M</h3>
    <h1>MARGARET MORRIS</h1>
    <h2>Full-Stack Web Developer</h2>
  </div>

  <!-- Picture of Me -->
  <div id="photo">
    <img id="single" src="http://margaretblue.com/wp-content/uploads/2013/11/margaretlookdown.jpg">
  </div>

<!-- About -->
  <div id="about">
    <h4>About Me</h4>
    <p class="p3">
      Full-Stack Web Developer focused on test-driven development in Ruby, Ruby on Rails, full-stack Javascript, HTML5/CSS3. Background in Electrical Engineering and Technical Product Management with a keen eye for product and strategy.<br><br>
    </p>
  </div>

  <!-- Portfolio -->
  <div id="portfolio">
    <h4>Portfolio</h4>

    <!-- Portfolio Item: NeedWant -->
  <div class="row">
    <div class="large-6 columns portfolio_container">
      <a href="http://theneedwant.herokuapp.com"><img class="screenshots grow1" src="http://margaretblue.com/wp-content/uploads/2013/12/Screen-Shot-2013-11-30-at-6.53.23-PM.png" width="400"></a>
      <h5>Need/Want <span class="date">Nov 2013 </span></h5>
      <p class="p1">
        Need/Want is a universal wishlist bookmark &amp Chrome extension with price drop alerting.
      </p>
      <p class="p2">
        &nbsp;&nbsp;
        <a href="http://theneedwant.herokuapp.com">theneedwant.herokuapp.com
        </a>
      </p>
      <p class="p2">
        <i class="fi-social-github"></i>&nbsp;&nbsp;
        <a href="https://github.com/margaretblue/needwant">github.com/margaretblue/needwant
        </a>
      </p>
    </div>

    <!-- Portfolio Item: BookLust -->
    <div class="large-6 columns portfolio_container">
      <a href="http://book-lust.com"><img class="screenshots grow1"src="http://margaretblue.com/wp-content/uploads/2013/12/Screen-Shot-2013-11-30-at-6.59.50-PM.png" width="400"></a>
      <h5>BookLust<span class="date">Nov 2013 Collaborative Project</span></h5>
      <p class="p1">
        A clean, visually-driven book recommendation app. Fun Collaborative Rails Project using OAuth, Nokogiri, New York Times API, Amazon Product API, JQuery, Isotope, CoffeeScript, Rspec &amp PostgreSQL
        <br><br><br>
      </p>
      <p class="p2">
        &nbsp;&nbsp;
        <a href="http://book-lust.com">book-lust.com
        </a>
      </p>
      <p class="p2">
        <i class="fi-social-github"></i>&nbsp;&nbsp;
        <a href="https://github.com/margaretblue/booklust">github.com/margaretblue/booklust
        </a>
      </p>
    </div>
  </div>
   </div>

  <!-- Contact -->
  <div id="contact">
    <h6>Contact Me</h6>
    <a href="http://www.linkedin.com/in/margaretblue/">
    <span class="grow2">
      <i class="fi-social-linkedin"></i>
    </span></a>
    <a href="https://github.com/margaretblue">
    <span class="grow2">
      <i class="fi-social-github"></i>
    </span></a>

    <a href="https://twitter.com/margaretblue">
    <span class="grow2">
      <span class="grow2">
      <i class="fi-social-twitter"></i>
    </span></a>
    <a href="mailto:margaretblue@gmail.com?Subject=Hello%20Margaret" target="_top">
    <span class="grow2">
      <i class="fi-mail"></i>
    </span>
  </div>

</body>
</html>
